<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    
    </startup>

  <connectionStrings>
    <add name="ConnectionString" connectionString="data source=j1939.cqtmqe9p55fh.ca-central-1.rds.amazonaws.com,1433;initial catalog=J1939_Full;User ID=J1939 Access;Password=Conestoga1" />

  </connectionStrings>
</configuration>