<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
      <providers>
          <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=&quot;res://*/Data Model.csdl|res://*/Data Model.ssdl|res://*/Data Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=j1939.cqtmqe9p55fh.ca-central-1.rds.amazonaws.com,1433;initial catalog=J1939_Full;User ID=J1939 Access;Password=Conestoga1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MachineIP" value="192.168.0.19" />
    <add key="MachinePort" value="4000" />
    <add key="SpnFile" value="C:\Users\billy\source\repos\FAST_Converter\FAST_Converter\bin\Debug\SPNs.txt" />
    <add key="ModOutFolder" value="C:\Users\billy\source\FS19_J1939_Converter\FAST_Converter\FAST_Converter\bin\Debug" />
    <add key="DatabaseAvailable" value="false" />
    <add key="FarmSimAvailable" value="false" />
  </appSettings>
</configuration>